@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #beadfa;
  --yellow: #fff3da;
  --blue: #313866;
}

* {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--purple);
}

.hr-solid {
  height: 2px;
  background-color: black;
}

/* Style the input */

/* Style the "Add" button */
/*.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}*/

/*.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}*/
